* {
    background: linear-gradient(to right, rgb(252, 205, 212), rgb(130, 130, 252));
}

h1,
h2 {
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
    margin: 20px;
}

img {
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(128, 128, 128);
}

img:active {
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 0px;
}

h1,
h2,
a {
    display: flex;
    justify-content: center;
    align-items: center;
}