* {
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 171, 253);
}
img {
    height: 300px;
    width: 300px; 
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}

form {
    margin: 50px;
    border: solid maroon 3px;
    padding: 30px;
    background-color: aliceblue;
}

section {
    margin: 20px;
}