h1,
h2 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h1 {
    color: rgb(52, 52, 185);
}

h2 {
    color: rgb(138, 43, 226);
}

p,
ul {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
/*
a {
    cursor: pointer;
}

a:hover {
    color:rgb(52, 52, 185);
    text-decoration: none;
}
*/
/*side navigation menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: palevioletred;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/*supposedly easy for nav bars, need more practice 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    display: flex;
    list-style: none;
    font-size: 1rem;
    margin: 0;
    justify-content: flex-end;
}

.nav-li {
    padding: 20px;
}
*/